@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Hi and welcome to an app I made in ASP.net MVC</h1>
    <p>Here you can convert between farenheit and celcius, write a list over things to do or find out how many ingredients you need to make pancakes</p>
    <partial name="Partial/_Links.cshtml">
     
</div>
