
<h2>Learn about MVC</h2>
        <nav >
            <ul>
                <li>@Html.ActionLink("Getting started with ASP.NET MVC 5", "https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started") </li>
                <li>@Html.ActionLink("ASP.NET MVC Tutorial", "https://www.tutorialspoint.com/asp.net_mvc/index.htm")</li>
                <li>@Html.ActionLink("The complete ASP.NET Core MVC Tutorial", "https://asp.mvc-tutorial.com/")</li>
            </ul>
        </nav>
